
.icon-spin2:before { content: '\e811'; } /* '' */
.icon-fast-bw:before { content: '\e807'; } /* '' */
.icon-videocam:before { content: '\e80e'; } /* '' */
.icon-upload:before { content: '\e80d'; } /* '' */
.icon-trash:before { content: '\e80f'; } /* '' */
.icon-volume-off:before { content: '\e809'; } /* '' */
.icon-volume-down:before { content: '\e80a'; } /* '' */
.icon-volume-up:before { content: '\e80b'; } /* '' */
.icon-refresh:before { content: '\e810'; } /* '' */
.icon-video:before { content: '\e80c'; } /* '' */
.icon-stop:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e802'; } /* '' */
.icon-to-end:before { content: '\e803'; } /* '' */
.icon-to-end-alt:before { content: '\e804'; } /* '' */
.icon-to-start:before { content: '\e805'; } /* '' */
.icon-to-start-alt:before { content: '\e806'; } /* '' */
.icon-fast-fw:before { content: '\e808'; } /* '' */
.icon-play:before { content: '\e800'; } /* '' */